.form-container{
    padding-top: 20px;
}
.search-bar{
    margin-left: 30px;
    max-height: 40px;
    max-width: 190px;
    padding: 4px;
    box-shadow: 1px 1px 1px 1px rgb(141, 141, 141);
    border: none;
    border-bottom: 2px solid lightslategrey;
}
.btn-search{
    border-style: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgb(141, 141, 141);
    background-color: $colorBackgroundPrimary;
    color: $colorTextPrimary;
    font-weight: bold;
    height: 25px;
}
.list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: flex-start;
    margin: 0;
    max-width: 900px;
    text-align: center;
}
.list-li{
    background-color: $colorBackgroundSecondary;
    margin: 5px;
    max-width: 200px;
    max-height: 322px;
    overflow:hidden;
}
.title-program{
    margin: auto;
}
.image-program{
    display: block;
    width: 200px;
    height: 295px;
}
.fav-list{
    padding-right: 10px;
    margin-left: 15px;
    border-right: 1px solid lightslategray;
    width: 284px;
}
.favorite{
    border: 1px solid  $colorBackgroundPrimary;
    color: $colorTextPrimary;
    background-color: $colorBackgroundPrimary;
}
.list-li-fav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    min-width: 273px;
}
.title-program-fav{
    font-size: 16px;
    max-height: 40px;
}
.image-program-fav{
    display: block;
    width: 120px;
    height: 120px;
}
.btn-reset{
    border: none;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}